@model  VwCurrentStock
@{
    ViewData["Title"] = "Details";
}

<div class="card-body">
    <h1 class="card-header text-center">Details</h1>

    <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.ProductName)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.ProductName)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Barcode)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Barcode)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.CategoryName)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.CategoryName)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.SupplierName)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.SupplierName)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.ReorderLevel)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.ReorderLevel)</dd>
    </dl>
</div>
