@model  IEnumerable<CashierSystem.Models.VwCurrentStock>
@{
    ViewData["Title"] = "Current Stock";
}

<h1 class="text-center pb-3">Current Stock</h1>


<div class="table-responsive">
    <table class="table align-middle">
        <thead class="table-warning">
            <tr>
                <th>@Html.DisplayNameFor(model => model.ProductName)</th>
                <th>@Html.DisplayNameFor(model => model.Barcode)</th>
                <th>@Html.DisplayNameFor(model => model.CategoryName)</th>
                <th>@Html.DisplayNameFor(model => model.SupplierName)</th>
                <th>@Html.DisplayNameFor(model => model.CurrentStock)</th>
                <th>@Html.DisplayNameFor(model => model.ReorderLevel)</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Barcode)</td>
                    <td>@Html.DisplayFor(modelItem => item.CategoryName)</td>
                    <td>@Html.DisplayFor(modelItem => item.SupplierName)</td>
                    <td>@Html.DisplayFor(modelItem => item.CurrentStock)</td>
                    <td>@Html.DisplayFor(modelItem => item.ReorderLevel)</td>
                    <td><a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>