@model  IEnumerable<CashierSystem.Models.VwCustomerSummary>
@{
    ViewData["Title"] = "Customer Summary";
}

<h1 class="text-center pb-3">Customer Summary</h1>

<div class="table-responsive">
    <table class="table mt-3 table-hover align-middle">
        <thead class="table-danger">
            <tr>
                <th>@Html.DisplayNameFor(model => model.FullName)</th>
                <th>@Html.DisplayNameFor(model => model.TotalOrders)</th>
                <th>@Html.DisplayNameFor(model => model.TotalSpent)</th>
                <th>@Html.DisplayNameFor(model => model.FirstPurchase)</th>
                <th>@Html.DisplayNameFor(model => model.LastPurchase)</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                    <td>@Html.DisplayFor(modelItem => item.TotalOrders)</td>
                    <td>@Html.DisplayFor(modelItem => item.TotalSpent)</td>
                    <td>@Html.DisplayFor(modelItem => item.FirstPurchase)</td>
                    <td>@Html.DisplayFor(modelItem => item.LastPurchase)</td>
                    <td><a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>