@model IEnumerable<CashierSystem.Models.StockTransaction>

@{
    ViewData["Title"] = "Stock Transaction";
}

<h1 class="pb-3 text-center">Stock Transaction</h1>

<p class="pb-2">
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>

<div class="table-responsive mt-2">
    <table class="table align-middle table-hover">
        <thead class="table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reference)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product)
                </th>
                <th>Edit</th>
                <th>Details</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reference)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductName)
                </td>
                <td>
                    <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.TransactionId">Edit</a> 
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.TransactionId">Details</a> 
                </td>
                <td>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.TransactionId">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
