@model IEnumerable<CashierSystem.Models.Sale>

@{
    ViewData["Title"] = "Sales";
}

<h1 class="pb-3 text-center">Sales</h1>

<p class="pb-2">
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>

<div class="table-responsive mt-2">
    <table class="table align-middle table-hover">
        <thead class="table-success">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SaleDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Discount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NetAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer)
                </th>
                <th>Edit</th>
                <th>Details</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SaleDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NetAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.FullName)
                </td>
                <td>    
                    <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.SaleId">Edit</a>
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.SaleId">Details</a> 
                </td>
                <td>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.SaleId">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
